* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-size: 16px;
    for
       
}

.App
{
    display: flex;
    flex-direction: row; 
   
}

.CardPersonas{
    display: flex;
    flex-direction: column;
     margin: 20px;  
}

.CardPersonas p{
     justify-content: center;
}

.CardMascotas{
    display: flex;
    flex-direction: column;
     margin: 20px;  
}

.CardMascotas p{
     justify-content: center;
}

.CardProductos{
    display: flex;
    flex-direction: column;
     margin: 20px;  
}

.CardProductos p{
     justify-content: center;
}

.CardbosqueCenizario{
    display: flex;
    flex-direction: column;
     margin: 20px;  
}

.CardbosqueCenizario p{
     justify-content: center;
}

.CardCenizasMar{
    display: flex;
    flex-direction: column;
     margin: 20px;  
}

.CardCenizasMar p{
     justify-content: center;
}